@charset "utf-8";
/* CSS Document */

/* Slider Style modifications */

.ibanner .da-slider h2 {
	font-size: 72px;
	font-weight: 600;
	max-width: 100%;
	line-height: 72px;
}

/* About Us CSS */
#aboutus {
	margin-bottom: 72px;
	padding-top: 72px;
}


/* Services Style */ 
#services {
	margin-top: 0px;
	margin-bottom: 0px;
}

#services .services_inner .tx-fw-inner {
	text-align: center;
}

#services .services_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#services .services_inner .tx-row {
	margin-bottom: 0px;
}

#services .services_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#services .services_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#services .services_inner p {
	margin: 16px auto;
}


/* Portfolio Style */ 
#portfolio {
	margin-top: 0px;
	margin-bottom: 0px;
}

#portfolio .portfolio_inner {
}

#portfolio .portfolio_inner .tx-fw-inner {
	text-align: center;
}

#portfolio .portfolio_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#portfolio .portfolio_inner .tx-row {
	margin-bottom: 0px;
}

#portfolio .portfolio_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#portfolio .portfolio_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#portfolio .portfolio_inner .tx-border-box h3 {
	margin-bottom: 6px;
	color: #FFFFFF;
}

#portfolio .portfolio_inner p {
	margin: 16px auto;
}

#portfolio .portfolio_inner .tx-border-box .folio-head {
	height: auto;
	
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;		
}

#portfolio .portfolio_inner .tx-border-box:hover .folio-head {
	display: block;
	background-color: rgba(0,0,0,.32);
	height: 70px;
}

#portfolio .portfolio_inner .tx-border-box:hover .folio-head a:hover {
	color: #fff;
}


/* Blog Style */ 
#blog {
	margin-top: 0px;
	margin-bottom: 0px;
}

#blog .blog_inner {
}

#blog .blog_inner .tx-fw-inner .section-head {
	text-align: center;
}

#blog .blog_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#blog .blog_inner .tx-row {
	margin-bottom: 0px;
}

#blog .blog_inner .section-head h2.blog-title {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#blog .blog_inner .section-head h3.blog-subtitle {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#blog .blog_inner .tx-border-box h3 {
	margin-bottom: 6px;
	color: #FFFFFF;
}

#blog .blog_inner p {
	margin: 16px auto;
}

#blog .blog_inner .tx-blog .tx-blog-item .tx-border-box {
	background-color: rgba(255,255,255,0.8);
}


/* Testimonials Style */ 
#testimonials {
	margin-top: 0px;
	margin-bottom: 0px;
}

#testimonials .testimonials_inner {
}

#testimonials .testimonials_inner .tx-fw-inner {
	text-align: center;
}

#testimonials .testimonials_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#testimonials .testimonials_inner .tx-row {
	margin-bottom: 0px;
}

#testimonials .testimonials_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#testimonials .testimonials_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#testimonials .testimonials_inner p {
	margin: 16px auto;
}

#testimonials .tx-testiin .tx-testimonials {
	background: transparent!important;
}

#testimonials .tx-fullwidthrow .tx-fw-content .tx-testi-item {
	margin-left: 0px;
}



/* Calltoact Style */ 
#calltoact {
	margin-top: 0px;
	margin-bottom: 0px;
}

#calltoact .calltoact_inner {
}

#calltoact .calltoact_inner .tx-fw-inner {
	text-align: left;
}

#calltoact .calltoact_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#calltoact .calltoact_inner .tx-row {
	margin-bottom: 0px;
}

#calltoact .calltoact_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#calltoact .calltoact_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 0px;
}

#calltoact .calltoact_inner p {
	margin: 16px auto;
}

#calltoact .calltoact_inner .ione-cta {
	width: 70%;
	width: calc( 100% - 160px );
	display: inline-block;
}

#calltoact .calltoact_inner .calltoact-desc {
	display: block;
	float: right;
	margin-top: 24px;
}


/* Team Style */ 
#team {
	margin-top: 0px;
	margin-bottom: 0px;
}

#team .team_inner {
}

#team .team_inner .tx-fw-inner {
	text-align: center;
}

#team .team_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#team .team_inner .tx-row {
	margin-bottom: 0px;
}

#team .team_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#team .team_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#team .team_inner p {
	margin: 16px auto;
}

#team .team_inner .team-image {
	width: 100%;
	border: 0px solid rgba(204,204,204,0.5);
}

#team .team_inner .tx-team .tx-team-socials span > a > i {
}

#team .team_inner .tx-team .tx-team-socials span > a:hover > i {
	background-color: #FFF;
	color: #000;
}

#team .team_inner .tx-team .tx-team-content h3 {
	margin-bottom: 6px;
}


/* Contact Style */ 
#contact {
	margin-top: 0px;
	margin-bottom: 0px;
}

#contact .contact_inner {
}

#contact .contact_inner .tx-fw-inner {
	text-align: center;
}

#contact .contact_inner .tx-fw-inner .tx-fw-overlay {
	padding: 72px 0px;		
}

#contact .contact_inner .tx-row {
	margin-bottom: 0px;
}

#contact .contact_inner h2 {
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
	margin: 0px auto;
}

#contact .contact_inner h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin: 12px auto;
	margin-bottom: 32px;
}

#contact .contact_inner p {
	margin: 16px auto;
}

#contact .contact_inner iframe {
	border: 1px solid #fff;
}

#contact #contactform input {
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
}

#contact #contactform textarea {
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;	
}

#contact #htrap {
	display: none;
}

#contact #success {
	display: none;
}

#contact #error {
	display: none;
}

#contact label.error {
	font-weight: 300;
	color: #F00;
	font-size: 11px;
	line-height: 12px;
}


.home .site .site-main,
.txo-home .site .site-main {
	padding-bottom: 0px;
	padding-top: 0px;
}

@media (max-width: 1200px) {
	
	.site-content .tx-fw-inner {
		padding-left: 32px;
		padding-right: 32px;
	}
	
	#calltoact .calltoact_inner .ione-cta {
		width: 100%;
		display: block;
	}
	
	#calltoact .calltoact_inner .calltoact-desc {
		display: block;
		float: none;
		margin-top: 24px;
	}
	
}













